<div class="standardPage guiaPage">

	<div class="listView">
		<div id="wrapperList">

			<div id="scrollerList">

				<ul>
					<li class="noBackground">
						<div class="text">
							<p class="title">Parte de hogar</p>
							<p>902 20 30 20</p>
						</div>

						<a href="tel:902203020" class="btnDefault btnTel">{{literales.llamar}}</a>

					</li>
					<li class="collapsable">
						<p class="title">Daños por aguas</p>
						<div class="colapText">
							<p>Ponga una denundia en la policia, por teléfono o internet.</p>
							<p>
No toque ningún objeto hasta que la policía científica toma huellas. Comunique a Caser lo sucedido al teléfono <b>902 36 65 05</b>. Si necesita cerrajero lo enviamos con carácter de urgencia.</p>
						</div>
					</li>
					<li class="collapsable">
						<p class="title">Daños por aguas</p>
						<div class="colapText">
							<p>Ponga una denundia en la policia, por teléfono o internet.</p>
							<p>
No toque ningún objeto hasta que la policía científica toma huellas. Comunique a Caser lo sucedido al teléfono <b>902 36 65 05</b>. Si necesita cerrajero lo enviamos con carácter de urgencia.</p>
						</div>
					</li>
					<li class="collapsable">
						<p class="title">Daños por aguas</p>
						<div class="colapText">
							<p>Ponga una denundia en la policia, por teléfono o internet.</p>
							<p>
No toque ningún objeto hasta que la policía científica toma huellas. Comunique a Caser lo sucedido al teléfono <b>902 36 65 05</b>. Si necesita cerrajero lo enviamos con carácter de urgencia.</p>
						</div>
					</li>
					<li class="collapsable">
						<p class="title">Daños por aguas</p>
						<div class="colapText">
							<p>Ponga una denundia en la policia, por teléfono o internet.</p>
							<p>
No toque ningún objeto hasta que la policía científica toma huellas. Comunique a Caser lo sucedido al teléfono <b>902 36 65 05</b>. Si necesita cerrajero lo enviamos con carácter de urgencia.</p>
						</div>
					</li>
					<li class="collapsable">
						<p class="title">Daños por aguas</p>
						<div class="colapText">
							<p>Ponga una denundia en la policia, por teléfono o internet.</p>
							<p>
No toque ningún objeto hasta que la policía científica toma huellas. Comunique a Caser lo sucedido al teléfono <b>902 36 65 05</b>. Si necesita cerrajero lo enviamos con carácter de urgencia.</p>
						</div>
					</li>
				</ul>

			</div>


		</div>


	</div>


	<div class="footer footerGuia">
		<ul>
			<li class="active">
				<span>{{literales.hogar}}</span>
			</li>
			<li>
				<span>{{literales.autos}}</span>
			</li>
		</ul>

	</div>


</div>